* {
  padding: 0;
  margin: 0;
}
body {
  position: relative;
}
table,
td,
th {
  /* border: 1px solid #eee; */
}
.queen {
  margin: 0px auto;
  border-collapse: collapse;
}
table td {
  width: 50px;
  height: 50px;
  text-align: center;
}
.queen tr td {
  height: 100%;
  width: 50px;
  height: 50px;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
}
.queen tr td .bg {
  margin: 15px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
}

.queen tr:nth-child(odd) td:nth-child(odd) {
  background-color: black;
}
.queen tr:nth-child(odd) td:nth-child(even) {
  border: 1px solid black;
}

.queen tr:nth-child(even) td:nth-child(even) {
  background-color: black;
}
.queen tr:nth-child(even) td:nth-child(odd) {
  border: 1px solid black;
}

table.x {
  margin: 50px auto 0;
}

table.y {
  position: absolute;
  transform: translate(-250px, 15px);
  left: 50%;
}
table.y tr {
  display: flex;
  flex-direction: column;
}

.clear button {
  display: block;
  margin: 20px auto;
}
